h1{
    text-transform: uppercase;
    font-family: League spartan;
    color: #35288e;
    text-align: center;
    font-weight: 900;
    word-spacing: 2px;
    font-size: 55px;
    line-height: normal;
    text-decoration: underline double;


}