#Container{
    height: 400px;
    width: 30%;
    margin: 10px auto;
    display: flex;
    flex-direction: row;
    justify-content: center;
    flex-wrap: wrap;
    border: 10px solid ;
    border-color: aquamarine;
    border-radius: 5px;
    align-content: space-evenly;
    gap: 20px;
    /* flex-shrink: 1; */


    
}

#Container div{
    height: 100px;
    width:100px;
    background-color: grey;
    border: 5px solid black;
    border-radius: 20px;
    text-align: center;
    font-size: 50px;

}
