#container{
    height: 50px;
    width: 900px;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: flex-start;
    border: 2px solid rgb(61, 194, 61);
    border-radius: 10px;
    background-color: pink;
}

#container div{
    height: 50px;
    width: 80px;
    font-size: 24px;
    justify-content: flex-start;
    padding-top:12px ;
    padding-left:5px ;
}