
/* .main{ */
    /* display: grid;
    gap: 10px;
    padding: 10px; */
/* } */
/* .header{ */
    /* background-color: pink;
    display: grid;
    grid-template-columns: repeat(12,1fr);
    gap: 10px; */

/* } */
/* .sidebar{ */
    /* background-color: pink;
    display: grid; */
    /* width: 300px; */
    /* grid-template-rows:repeat(10,3fr) ; */
    /* grid-template-rows: repeat(22,1fr);
    grid-template-columns: repeat(1,1fr); */

   
   
    /* grid-template-columns: repeat(2, minmax(200px, 1fr));
    grid-template-rows: repeat(22, 1fr);
    grid-gap: 10px; */
/* } */
/* .navigation{ */
    /* background-color: pink;
    display: grid;
    align-items: center; */
    /* width: 890px; */
    /* grid-template-columns:repeat(50,1fr) ;
    place-self: center; */
    /*  */
    /* position: absolute;
    top: 39px;
    left: 50%;
    transform:translateX(-50%);
     gap: 10px;
     grid-gap: 10px; */

/* } */
/*  */
/* body{ */
    /* position: relative; */
/* } */
/*  */
/* .content{ */
     /* background-color: pink;
    display: grid;
    align-items: center;
     position: absolute;
    top: 60px;
    left: 50%;
    transform:translateX(-50%);
     gap: 10px;
     grid-gap: 10px;
    grid-template-rows:repeat(21,3fr) ;
    grid-template-columns:repeat(50,1fr) ; */
     /* width: 890px;
     height: 585px; */

/* } */

/* .ads{ */
 /* background-color: pink;
    display: grid;
    align-items: end;
     grid-template-rows: repeat(2,1fr);
    grid-template-columns: repeat(1,1fr); */


/* } */

/* ------------------------------- */
body{
    margin: 0;
}
.main{
    display: grid;
    grid-template-rows: repeat(12,1fr);
    grid-template-rows: repeat(12,1fr);
    gap: 10px;
    padding: 10px;
    height: 10vh;
}

.main div{
    background-color: pink;
    padding: 10px;
}

.header{
    grid-column: 1/13;
    grid-row: 1/2;
}

.sidebar{
    grid-column: 1/4;
    grid-row: 2/35;
}

.navigation {
    grid-column: 4/10;
    grid-row: 2/3;
}

.content{
    grid-column: 4/10;
    grid-row: 3/35;
}

.ads{
    grid-column: 10/13;
    grid-row: 2/35;
}

.footer{
       grid-column: 1/13;
    grid-row: 35/36;
}

/* media */
@media (max-width:720px) {
    .header{
        grid-column: 1/13;
        grid-row: 1/2;
    }
    .navigation{
        grid-column: 1/13;
        grid-row: 2/3;
    }
    .sidebar{
        grid-column: 1/4;
        grid-row: 3/12;
    }
    .content{
        grid-column: 4/13;
        grid-row: 3/12;
    }
    .ads{
        grid-column: 1/4;
        grid-row: 12/13;
    }
    .footer{
        grid-column: 4/13;
        grid-row: 12/13;
    }
}