/* Q1  */
#mainTopic{
    color:blue;
}

/* Q2 */
*{
    text-align: center;
}

/* Q3 */
h1,h3,h5{
    font-family: Georgia;
}

/* Q4 */
.para{
    color: white;
    background-color: cornflowerblue;

}

/* Q5 */
div > button{
    color:azure;
    background-color: purple;
} 

/* Q6 */
button:hover{
    background-color: yellow;
    color: blue;
}


/* Q7 */
.para:nth-of-type(odd){
    color: yellow;

}

/* Q8 */
h1::first-letter{
    color: red;
}

/* Q9 */
input[type= "checkbox"]:checked + label{
    color: green;
}

/* Q10 */
 /* Qs10: Specificity Order (comment only, not CSS code)
   Least specific → Most specific:
   1. h1
   2. .main
   3. .main-div.main
   4. #mainContent
*/ 