h1{
    color:pink;
}

#greet{
    color: yellow;
}

.myClass {
    color: brown;
}


/* hello world */
div.greetDiv .greet {
    color:green;
}
.greeDiv p.greet{
    color: blue;
}
.greeDiv .greet{
    color: red;
}