button:hover{
    background-color: black;
    color: bisque;
}

h3:hover{
    text-decoration: overline;
}


/* Actice pseudo class */

button:active{
    background-color: cadetblue;
}

p:active{
    font-weight: 600;
    color: darkgreen;
}

/* checked */
input[type= "radio"]:checked +  label{
    color: rgb(97, 5, 246);
    font-weight: 900;
}

/* Nth element */
.post:nth-of-type(2n){
    background-color: aqua;
}