button:hover{
    background-color: black;
    color: bisque;
}

h3:hover{
    text-decoration: overline;
}


/* Actice pseudo class */

button:active{
    background-color: cadetblue;
}

p:active{
    font-weight: 600;
    color: darkgreen;
}

/* checked */
input[type= "radio"] :checked +  label{
    font-weight: bold;
    color: rgb(247, 83, 19);
}
