section{
    margin: 100px;
}

div{
    width: 200px;
    height: 50px;
    text-align: center;
    background-color: #7ea874;
    border: 2px solid black;
    margin: 0 auto;
}
#one{
    margin-bottom: 50px;
}
#two{
    margin-bottom: 50px;
    transform: scale(2);
}
#three{
    margin-bottom: 50px;
    transform: scale(0.5);
    
}

#first{
    margin-top: 50px;
    transform: translate(50px,50px);
    margin-bottom: 150px;
}

#second{
    /* transform: scale(0.5,2); */
    transform: scaleX(2);
}

#third{
    margin-top: 50px;
    /* transform: scaleY(2); */
    transform: translate(-200px);

}

#four{
    transform: skew(30deg);
}

#fifth{
    transform: rotate(45deg) translate(150px) skew(35deg);
}