.container{
    width:600px;
    height: 300px;
    background-color: yellowgreen;
    display: grid;
    grid-template-rows: repeat(2,1fr);
    grid-template-columns: repeat(3,1fr);
    /* row-gap:66px;
    column-gap: 130px; */
    grid-gap: 10px;
    
}
.item{
    /* width: 100px;
    height: 50px; */
    background-color: yellow;
    text-align: center;
    border: 3px solid darkblue;
}