.container{
    width:  800px;
    height: 90%;
    background-color: yellow;
    display: grid;
    grid-gap:10px;
    grid-template-columns: repeat(3,1fr);
    grid-template-rows: repeat(4,1fr);
    
}

.item{
    /* height: 50px;
    width: 90px; */
    background: royalblue;
    text-align: center;
}

.two{
    /* grid-row-start: 1;
    grid-row-end: 3; */
    /* grid-row: 1/4; */
    grid-row: 1/span 4;
}