div{
    /* height width  */
    height: 150px;
    width: 450px;
    background-color: rgb(98, 238, 170);

    /* Border  */
    border-width: 5px;
    border-style: solid;
    border-color: rgb(0, 208, 255);
    /* individual border control */
    border-top-color: rgb(39, 6, 39);
    border-bottom-color: rgb(39, 6, 39);

    border-left-style: dashed ;
    margin-top: 20px;
    padding-top: 30px;
    padding-left: 15px;
}

h1{
    width: 150px;
    border-width: 10px;
    border-style:  groove;
    border-color:violet;
    /* Padding Property */
    padding-bottom:20px ;
    padding-left: 20px;
    padding-top: 20px;
}

/* border- width style color */
#shorthand{
    border: 8px solid orangered;
    width: 370px;
    height: 120px;
    border-radius: 15px;
}

#circle{
    border: 8px solid black;
    width: 50px;
    height: 50px;
    border-radius: 50%;
}


/* button */
button{
    margin-top: 20px;
    border: 3px solid steelblue;
    border-radius: 10px;
    padding-left: 20px;
    padding-right: 20px;
    background-color: cyan;
}

/* Padding Shorthand */
h2{
    border: 2px solid rgb(51, 255, 0);
    width: 60px;
    /*padding all sides  */
    padding: 50px;
    
}

h3{
    border: 2px solid rgb(0, 81, 255);
    width: 45px;
    /* top and bottom |left and right  */
    padding: 1px 4px;
    
}

h4{
    border: 2px solid rgb(255, 0, 38);
    width: 35px;
    /* top | left and right | bottom */
    padding: 4px 8px 2 px;
}
h5{
    border: 2px solid rgb(0, 191, 255);
    width: 38px;
    /* top , left , right , bottom */
    padding:  5px 9px 8px 7px;

}