/* 
align items used for groups 

align self used for individual item

/* Align self */

/* 
    Aligns an item along the cross axis

    align-self: flex-start;
    flex-self:flex-end;
    flex-self : center;
    flex-self : baseline;

*/

#Container {
    height: 600px;
    width: 80%;
    background-color: azure;
    margin: 10px auto;
    border: 2px solid black;
    display: flex;
    flex-direction: row; 
    /* flex-direction: column;  */
    justify-content: flex-start;
    /* flex-wrap: wrap; */
    /* align-content: baseline; */
    align-content: flex-start;

}
/* align self */
#Org{
    /* align-self: flex-end; */
    /* align-self: flex-start; */
    align-self: center;
    /* align-self: baseline; */
}

h1{
    text-align: center;
}

#Container div{
    height: 50px;
    width: 300px;
    color: aliceblue;
    text-align: center;
    font-size: 1.5em;
}