/* 
Align items :
    TO Distribute our items along the cross axis.
    justify-content: flex-start

    justify-content: flex-end;

    justify-content: center;
*/

#Container {
    height: 600px;
    width: 80%;
    background-color: azure;
    margin: 10px auto;
    border: 2px solid black;
    display: flex;
    flex-direction: row; 
    justify-content: flex-start;
    flex-wrap: wrap;
    /* align-items: flex-end; */
    /* align-items: flex-start; */
/* align-items: center; */

align-items: baseline;
 /*divs aligns according to text  */
}

h1{
    text-align: center;
}

#Container div{
    height: 50px;
    width: 300px;
    color: aliceblue;
    text-align: center;
    font-size: 1.5em;
}