/* Flex sizing */
/* 
    when we have to increase size accoriding to space as well as when we have to shrink size then .
    we can eliminate extra space and fill the space using item size 
    for this flex size use


    flex-basis-
    It sets the initial main size of a flex item

    flex-basis:100px;


    flex-grow - 
    It specifies how much of the flex container remaining space should be assigned to the flex items main size

    flex-grow:1

    means flex grow can gives that item space as per flex grow values times 

    flex Shrink
    if element overflows 
        flex-shrink :1 

*/
#Container {
    height: 300px;
    width: 60%;
    background-color: azure;
    margin: 10px auto;
    border: 2px solid black;
    display: flex;
    /* flex-direction: row;  */
    flex-direction: column; 
    justify-content: flex-start;
    /* flex-wrap: wrap; */
    /* align-content: baseline; */
    /* align-content: flex-start; */

}

#blue{
    /* align-items: flex-end; */
    /* flex-basis: 410px; */
    /* flex-grow: 1; */
    /* max-width: 400px; */
flex-shrink: 6;
}
#Org{
    align-self: center;
    /* flex-basis: 50px; */
    flex-grow: 1;
    flex-shrink: 2;
}
h1{
    text-align: center;
}

#Container div{
    height: 50px;
    width: 350px;
    color: aliceblue;
    text-align: center;
    font-size: 1.5em;
}