/* 
Flexbox -it is one dimensional layout method for arranging items in rows and column

helpful to make website responsive websites 
*/

#Container {
    height: 300px;
    width: 80%;
    background-color: azure;
    margin: 10px auto;
    border: 2px solid black;
    display: flex;
    /* flex-direction: row; */
    /* flex-direction: row-reverse; */
    /* justify-content: flex-start; */
    justify-content: flex-end;
    /* flex-direction: column; */
    flex-direction: column-reverse;
    
}

h1{
    text-align: center;
}

#Container div {
    height: 30px;
    width: 100px;
    color: white;
    text-align: center;
    font-size: 1.5em;
}