.container0{
    display:flex;
    justify-content: flex-start;
    background-color:#eee;
    padding:10px;
    border:2px solid #333;
    margin-bottom: 10px;
}
.container1{
    display:flex;
    justify-content: center;
    background-color:#eee;
    padding:10px;
    border:2px solid #333;
    margin-bottom: 10px;
}
.container2{
    display:flex;
    justify-content: flex-end;
    background-color:#eee;
    padding:10px;
    border:2px solid #333;
}

.box{
    background-color: royalblue;
    color:white;
    padding:20px;
    margin:5px;
    font-weight:bold;
}